In [4]:
# string is collection of char (letter)
s1 = "I am the best coding!"
print(s1)

I am the best coding!

In [5]:
s2 = 'in single quote'
print(s2)

in single quote

In [6]:
s3 = """ tripel double quote """
s4 = ''' triple single quote '''
print(s3,s4)

 tripel double quote   triple single quote

In [8]:
s5 = "Hi, I want 10 programs!"
print(s5)

Hi, I want 10 programs!

In [9]:
s1

'I am the best coding!'

In [10]:
str1 = "seeta"

In [11]:
str1[3]

't'

In [12]:
str2 = "this is the best platform to learn Big Data!!"
str2[17]

'p'

In [13]:
str2[100]

IndexError: string index out of range

In [14]:
str3 = "this is strings class & I love to play Table tennis!!"

In [15]:
str3[-14]

'T'

In [17]:
# Sclicing 
str4 = "gold rate is 80000"
str4[0:4] #lower bound, upper_bound (python excludes upper bound value)

'gold'

In [31]:
str4[10:12:]

'is'

In [ ]:
str4[::]

'gold rate is 80000'

In [20]:
str4[::2]

'gl aei 00'

In [23]:
str4[::1]

'gold rate is 80000'

In [24]:
str4[::-1]

'00008 si etar dlog'

In [25]:
str5 = "shree"
str5[::-1]

'eerhs'

In [32]:
str5[:-2]

'shr'

In [36]:
str5[0:5:1]

'shree'

In [ ]:
str5[5:0:-1]

'eerh'

In [43]:
str6 = "shree is good programmer"

In [44]:
len(str6)

24

In [45]:
str6.upper()

'SHREE IS GOOD PROGRAMMER'

In [46]:

str6.capitalize()

'Shree is good programmer'

In [48]:
str11 = "shree"
print(str11)

shree

In [49]:
str11 = "sai"

In [50]:
str11

'sai'

In [51]:
str12 = " shree is good prog"

In [52]:
str12.replace('good', 'great')

' shree is great prog'

In [53]:
str12

' shree is good prog'

In [54]:
str12 = str12.replace('good','great')

In [55]:
str12

' shree is great prog'

In [56]:
str12[3]='3'

TypeError: 'str' object does not support item assignment