In [1]:
print("this is my name")

this is my name

In [3]:
type(4)

int

In [4]:
def test():

SyntaxError: incomplete input (2690612609.py, line 2)

In [5]:
def test():
    pass

In [6]:
def test1():
    print("this is my first function")

In [7]:
test1()

this is my first function

In [ ]:
def test2(a,b):
    print(a,b)

test2()

TypeError: test2() missing 2 required positional arguments: 'a' and 'b'

In [9]:
test2(2,5)

2 5

In [10]:
def test3(a,b,c,d,e):
    print(a,b,c,d,e)
test3(3,4,5,6,7)

3 4 5 6 7

In [11]:
def test4(a):
    print(a)

In [12]:
test4(7)+4

7

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [13]:
type(test4(3))

3

NoneType

In [14]:
def test5(a):
    return a

In [15]:
test5(5)+2

7

In [16]:
type(test5(4))

int

In [17]:
# pass one or many inputs
def test6(*args): #args is not a keyword
    return args 
    
test6(3,5.54,3,"Dsi")

(3, 5.54, 3, 'Dsi')

In [18]:
type(test6(3,5.54,3,"Dsi"))

tuple

In [21]:
# pass one or many inputs
def test7(*sai): #args is not a keyword
    return sum(sai)    #tuple  
    
test7(3,5.54,3,6)

17.54

In [ ]:
def test8(**kwargs):  #takes key value , kwargs is not a keyword
    return kwargs

test8(name="sai", company="google")

{'name': 'sai', 'company': 'google'}

In [23]:
def test9():
    return "Sai", [32,43,2], ("sai", "eswar")
test9()

('Sai', [32, 43, 2], ('sai', 'eswar'))

In [24]:
a,b,c = test9()

In [25]:
print(a,b,c)

Sai [32, 43, 2] ('sai', 'eswar')

In [28]:
def test10():
    """ This is my test function to understand docstring
        any thing to write
    """
    return 345

In [ ]:
test10()

In [31]:
#I can create lambda for below function

def test11(a,b):
    return a+b

In [ ]:
x = lambda a,b : a+b

In [35]:
x(5,6)

11

In [37]:
l = [3,5,6,8]
l2 = map(lambda a: a**2, l)

In [39]:
list(l2)

[9, 25, 36, 64]

In [40]:
def sq(x):
    return x**2

l3 = map(sq,l)
list(l3)

[9, 25, 36, 64]

In [45]:
l = [4,6,2,5,45,65,2,2,431,1]
l_odd = []

list(filter(lambda x :x % 2 != 0, l))

[5, 45, 65, 431, 1]

In [47]:
from functools import reduce
l = [2,3,43,5,6]
reduce(lambda x,y: x+y, l)

59