In [2]:
n =10
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
n =10
for i in range(0,n):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
list1 = [799, 200.56, 4+5j, "!0000"]
for i in range(0,len(list1)):
    print(list1[i])

799
200.56
(4+5j)
!0000

In [10]:
for i in list1:
    print(i)

799
200.56
(4+5j)
!0000

In [12]:
string1 = "DataEngineer"
for i in string1:
    print(i)

D
a
t
a
E
n
g
i
n
e
e
r

In [14]:
t = (199, "forever", 200.5)
for i in t :
    print(i)

199
forever
200.5

In [20]:
l = ["sai" ,4,5,6,7,8,34,56.45,True , "eswar",False, 5+7j, [1,2,2]]
string_list = [] 
integer_list= []
float_list = []
boolean_list = []
complex_number_list = []
extra_items_list = []
for i in l:
    if(type(i) is str):
       string_list.append(i)
    elif(type(i) == int):
        integer_list.append(i)
    elif(type(i) is float):
        float_list.append(i)
    elif(type(i) is bool):
        boolean_list.append(i)
    elif(type(i) is complex):
        complex_number_list.append(i)
    else:
        extra_items_list.append(i)

print(string_list)
print(integer_list)
print(float_list)
print(boolean_list)
print(complex_number_list)
print(extra_items_list)

['sai', 'eswar']
[4, 5, 6, 7, 8, 34]
[56.45]
[True, False]
[(5+7j)]
[[1, 2, 2]]

In [22]:
number_list = [3,5,7,11,9,8]
even_list = []
odd_list = []
for i in number_list:
    if(i%2 == 0):
        even_list.append(i)
    else:
        odd_list.append(i)
print(even_list)
print(odd_list)

[8]
[3, 5, 7, 11, 9]

In [24]:
sum = 0
for i in number_list:
    sum = sum +i
print(sum)

43

In [26]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [29]:
"si"*3

'sisisi'

In [32]:
# *
# * *
# * * *
# * * * *
# * * * * *

for i in range(0,6):
    print("sai "*i)

sai
sai sai
sai sai sai
sai sai sai sai
sai sai sai sai sai

In [21]:
for i in range(0,100,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98